<?xml version="1.0" encoding="UTF-8"?>
<!-- spring-context.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- bean definitions here -->
    <!-- application-context.xml -->
    <!-- 2、注册注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 1、注解扫描 -->
    <context:component-scan base-package="org.example.controller">
        <!-- 正则扫描包的匹配原则是全路径，如果只匹配一部分，不会被生效，点号 . 匹配除换行符（\n、\r）之外的任何单个字符 -->
        <context:exclude-filter type="regex" expression="com.URL\.URL.*"/>
    </context:component-scan>
    <!-- 3、静态资源权限开放，不开放就访问不到页面 404 -->
    <mvc:default-servlet-handler/>
</beans>